.contact {
    margin-bottom:  120px; ;
  &__breadcrumb {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__left {
    padding: 40px 35px 51px;
  }
  &__phone {
    padding-bottom: 32px;
    color: var(--Text2, #000);
    font-size: 1.4rem;
    line-height: 1.5; /* 150% */
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
    &--title {
      display: flex;
      gap: 16px;
      align-items: center;
      font-size: 1.6rem;
      font-weight: 500;
    }
    &--desc {
      margin-top: 24px;
    }
    &--number {
      margin-top: 16px;
    }
  }

  &__mail {
    padding-top: 32px;
    color: var(--Text2, #000);
    font-size: 1.4rem;
    line-height: 1.5; /* 150% */
    &--title {
      display: flex;
      align-items: center;
      gap: 16px;
      font-size: 1.6rem;
      font-weight: 500;
    }
    &--desc{
        margin-top: 34px;
    }
    &--1,&--2{
        margin-top: 16px;
    }
  }
}
